<template>
  <div class="mp-categories-section">
    <v-container>
      <client-only>
        <div v-for="(item, idx) in mostCategories" :key="idx + 900">
          <div
            v-if="item.products && item.products.length > 0"
            class="mp-categories-slides-container"
          >
            <div class="mp-title-container-categories">
              <h2 class="mp-title-slides-categories">{{ item.category ? item.category.name : item.title ? item.title : "Productos Destacados"}}</h2>
            </div>
            <ProductSlide
              :items="item.products"
              :productSlideId="`mp-product-swipe${idx + 1}`"
            />
            <div class="mp-view-more-category">
              <nuxt-link
                class="mp-view-more-link"
                :to="`${item.category ? '/categorias/': item.sku ? '/promociones/' : '/'}${item.category ? item.category.sku : item.sku ? item.sku + '/productos' : ''}`"
              >
                Ver más
                <i class="fas fa-angle-right ml-2"></i>
              </nuxt-link>
            </div>
          </div>
        </div>
      </client-only>
    </v-container>
  </div>
</template>

<script>
import ProductSlide from "@/components/slides/ProductSlide";
export default {
  components: {
    ProductSlide,
  },
  props: {
    mostCategories: Array,
  },
  data() {
    return {
      //swiperCategories: null
    };
  },
  methods: {},
};
</script>

<style lang="scss" scoped>
.mp-categories-section {
  width: 100%;
  //min-height: 100vh;

  //max-height: $max-height-section;
  .mp-categories-slides-container {
    padding: 1rem 0 3rem 0;

    .mp-title-container-categories {
      padding: 1em 0;

      .mp-title-slides-categories {
        position: relative;
        color: $color-blue;
        padding-left: 15px;
        margin-bottom: 0;
        font-size: 25px;

        @media screen and (max-width: 500px) {
          & {
            font-size: 20px;
          }
        }

        //margin-left: .5em;
        &::before {
          content: " ";
          height: 100%;
          width: 4px;
          background: #1a4a84;
          display: block;
          position: absolute;
          left: 0;
        }
      }
    }

    .mp-view-more-category {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      padding: 0 1em;

      .mp-view-more-link {
        font-size: 13px;
        font-weight: 500;
        text-decoration: none;
        color: $color-blue;
        transition: all ease-in-out 0.2s;
        text-transform: uppercase;

        &:hover {
          color: $color-secondary;
        }
      }
    }
  }
}
</style>
