<template>
  <div class="mp-counter-section">
    <div class="container">
      <div class="mp-counter-list">
        <div :class="`mp-counter-item`">
          <img draggable="false" class="img-fluid" v-lazy="boxImg" alt="box" />
          <h4 class="mp-counter-top">+ 0</h4>
          <p class="mp-description-counter">productos</p>
        </div>
        <div class="mp-counter-item">
          <img draggable="false" class="img-fluid" v-lazy="shopImg" alt="shop" />
          <h4 class="mp-counter-top">+ 0</h4>
          <p class="mp-description-counter">Emprendimientos</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import boxImg from "@/static/img/box.png";
import shopImg from "@/static/img/clothing-shop.png";
export default {
  props: {
    scroll: Number,
    indicators: Array,
  },
  data() {
    return {
      boxImg,
      shopImg,
      isActive: false,
      offSetTop: 1000000,
      counters: {},
    };
  },
  computed: {
    checkIsActive() {
      if ((this.scroll ? this.scroll : 0) < this.offSetTop) {
        if (Object.keys(this.counters).length > 0) {
          this.restartCounters();
          this.isActive = false;
        }
        return "";
      }
      if (this.isActive) return "";
      this.isActive = true;
      this.activeCounters();
      return "active-section";
    },
  },
  mounted() {
    /* const section = document.querySelector(".mp-counter-section");
    if (!section) return;
    this.offSetTop = section.offsetTop + 130; */
    this.activeCounters();
  },
  methods: {
    activeCounters() {
      try {
        const items = document.querySelectorAll(".mp-counter-section .mp-counter-top");
        items.forEach((it, idx) => {
          this.counters[`${idx}`] = new this.$countUp(it, this.indicators[idx], {
            prefix: "+",
            duration: 5,
            //suffix: "M",
          });
          this.counters[`${idx}`].start();
        });
      } catch (error) {}
    },
    restartCounters() {
      try {
        const items = document.querySelectorAll(".mp-counter-section .mp-counter-top");
        items.forEach((it, idx) => {
          this.counters[`${idx}`].reset();
        });
      } catch (error) {}
    },
  },
};
</script>

<style lang="scss" scoped>
.mp-counter-section {
  width: 100%;
  height: 300px;
  background: #eee;
  margin: 2em 0 3em 0;
  display: flex;
  overflow: hidden;
  .mp-counter-list {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    height: 100%;
    margin: 0 auto;
    .mp-counter-item {
      padding: 0 1.8em;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      img {
        max-height: 70px;
        margin: 5px auto;
        @media screen and (max-width: 650px) {
          & {
            max-height: 50px;
          }
        }
      }
      .mp-counter-top {
        color: $color-blue;
        font-family: sans-serif;
        font-size: 2.8em;
        font-weight: 900;
        @media screen and (max-width: 650px) {
          & {
            font-size: 2em;
          }
        }
        @media screen and (max-width: 420px) {
          & {
            font-size: 1.5em;
          }
        }
      }
      .mp-description-counter {
        text-transform: capitalize;
        font-weight: 600;
        font-size: 1.2rem;
        @media screen and (max-width: 650px) {
          & {
            font-size: 0.95em;
          }
        }
        @media screen and (max-width: 420px) {
          & {
            font-size: 0.8em;
          }
        }
      }
    }
  }
}
</style>
