<template>
    <div class="mp-cover-page">
        <SlideIndex :reel="reel">
            <template v-slot:search-card>
                <SearchCard />
            </template>
        </SlideIndex>
    </div>
</template>

<script>
import SlideIndex from '@/components/slides/SlideIndex';
import SearchCard from '@/components/cards/SearchCard';
    export default {
        components: {
            SlideIndex,
            SearchCard
        },
        props: {
            reel: Array
        }
    }
</script>

<style lang="scss" scoped>
.mp-cover-page {

}
</style>