<template>
  <div class="mp-conglomerate-index">
    <!-- About -->
    <div class="mp-conglomerate-slides-container">
      <p
        class="pre-wrapp mp-description-conglomerate"
        v-html="conglomerate.description"
      ></p>
    </div>

    <!-- Featured Products -->
    <div
      class="mp-conglomerate-slides-container"
      v-if="conglomerate.featuredProducts && conglomerate.featuredProducts.length > 0"
    >
      <div class="mp-title-container-conglomerate">
        <h2 class="mp-title-slides-conglomerate">Productos de {{ conglomerate.name }}</h2>
      </div>
      <div>
        <ProductSlide
          :items="conglomerate.featuredProducts"
          :productSlideId="`mp-featured-conglomerate-products`"
        />
        <div class="mp-view-more-conglomerate">
          <nuxt-link
            class="mp-view-more-link"
            :to="`/conglomerados/${conglomerate.sku}/productos`"
          >
            Ver más
            <i class="fas fa-angle-right ml-2"></i>
          </nuxt-link>
        </div>
      </div>
    </div>
    <!-- Featured stores -->
    <div
      class="mp-conglomerate-slides-container"
      v-if="conglomerate.featuredStores && conglomerate.featuredStores.length > 0"
    >
      <div class="mp-title-container-conglomerate">
        <h2 class="mp-title-slides-conglomerate">
          Emprendimientos de {{ conglomerate.name }}
        </h2>
      </div>
      <div>
        <StoreSlide :stores="conglomerate.featuredStores" />
        <div class="mp-view-more-conglomerate">
          <nuxt-link
            class="mp-view-more-link"
            :to="`/conglomerados/${conglomerate.sku}/emprendimientos`"
          >
            Ver más
            <i class="fas fa-angle-right ml-2"></i>
          </nuxt-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ProductSlide from "@/components/slides/ProductSlide";
import StoreSlide from "@/components/slides/StoreSlide";
export default {
  components: {
    ProductSlide,
    StoreSlide,
  },
  props: {
    conglomerate: Object,
  },
};
</script>

<style lang="scss" scoped>
.mp-conglomerate-index {
  width: 100%;
  //min-height: 100vh;

  //max-height: $max-height-section;
  .mp-conglomerate-slides-container {
    padding: 1rem 0 3rem 0;

    .mp-description-conglomerate {
      font-size: 14px;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.7);
      @media screen and (min-width: 1750px) {
        font-size: 16px;
      }
      @media screen and (max-width: 450px) {
        font-size: 13px;
      }
    }

    .mp-title-container-conglomerate {
      padding: 1em 0;

      .mp-title-slides-conglomerate {
        position: relative;
        color: $color-blue;
        padding-left: 15px;
        margin-bottom: 0;
        font-size: 25px;

        @media screen and (max-width: 500px) {
          & {
            font-size: 20px;
          }
        }

        //margin-left: .5em;
        &::before {
          content: " ";
          height: 100%;
          width: 4px;
          background: #1a4a84;
          display: block;
          position: absolute;
          left: 0;
        }
      }
    }

    .mp-view-more-conglomerate {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      padding: 0 1em;

      .mp-view-more-link {
        font-size: 13px;
        font-weight: 500;
        text-decoration: none;
        color: $color-blue;
        transition: all ease-in-out 0.2s;
        text-transform: uppercase;

        &:hover {
          color: $color-secondary;
        }
      }
    }
  }
}
</style>
