<template>
  <div class="mp-products-conglomerate">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-10 mx-auto">
        <v-text-field
          autocomplete="off"
          append-icon="mdi-magnify"
          @keyup="searchKeyword"
          hide-details
          single-line
          rounded
          background-color="#eee"
          outlined
          v-model="search"
          :loading="searchLoader"
          :placeholder="`Busca productos en ${emporium.name}`"
        >
        </v-text-field>
      </div>
    </div>
    <v-data-iterator
      v-if="products"
      @update:options="getMoreProducts"
      :page="products.page"
      :server-items-length="products.totalDocs"
      :footer-props="footerOptions"
      :items="products.docs"
      :items-per-page="products.limit"
      :search="search"
    >
      <template v-slot:default="props">
        <div class="row">
          <div
            v-for="(item, idx) in props.items"
            :key="item._id + idx"
            class="col-lg-3 col-md-4 col-sm-6"
          >
            <ProductCard :product="item" />
          </div>
        </div>
      </template>
    </v-data-iterator>
    <div v-else>
      <p class="text-center">
        <small>0 resultados encontrados</small>
      </p>
    </div>
    <LoaderPage :active="activeLoader" :zIndex="40" />
  </div>
</template>

<script>
import ProductCard from "@/components/cards/ProductCard";
import LoaderPage from "@/components/globals/loaders/LoaderPage";
const limit = 12;
export default {
  components: {
    ProductCard,
    LoaderPage,
  },
  async asyncData({ route, $axios, store, env, params, query, redirect, error }) {
    try {
      const emporium = await $axios.$get(`api/emporius/${params.skuConglomerate}`);
      if (!emporium) return redirect("/");
      const res = await $axios.get(
        `/api/emporius/${emporium._id}/products?page=${query.page || 1}&limit=${limit}`
      );
      if (res.status != 200) redirect("/");
      return {
        products: res.data || null,
        emporium: emporium,
        currentPage: params.page || 1,
        limit: limit,
      };
    } catch (error) {
      redirect("/");
    }
  },
  data() {
    return {
      // Loader
      activeLoader: false,
      searchLoader: false,
      //Data iterator items
      search: "",
      footerOptions: {
        "items-per-page-options": [12],
      },
      timeOutSearch: null,
      baseIndex: 15465456,
    };
  },
  methods: {
    searchKeyword(ev) {
      if (this.search && this.search.length >= 1) {
        if (this.timeOutSearch) {
          clearTimeout(this.timeOutSearch);
        }
        this.searchLoader = true;
        this.timeOutSearch = setTimeout(() => {
          this.getMoreProducts(null);
        }, 800);
        return;
      }
      clearTimeout(this.timeOutSearch);
      this.timeOutSearch = setTimeout(() => {
        this.getMoreProducts(null);
      }, 800);
    },
    async getMoreProducts(opt) {
      const url = this.search
        ? `/api/emporius/${this.emporium._id}/products?search=${this.search}&page=${
            opt ? opt.page : this.currentPage
          }&limit=${opt ? opt.itemsPerPage : this.limit}`
        : `/api/emporius/${this.emporium._id}/products?page=${
            opt ? opt.page : this.currentPage
          }&limit=${opt ? opt.itemsPerPage : this.limit}`;
      if (opt) this.activeLoader = true;
      this.$router.push(
        `/conglomerados/${this.emporium.sku}/productos?page=${
          opt ? opt.page : this.currentPage
        }`
      );
      const res = await this.$axios.get(url);
      this.activeLoader = false;
      this.searchLoader = false;
      if (res.status != 200) return null;
      if (res.data.totalDocs === 0) {
        this.products = null;
        return null;
      }
      this.products = res.data;
      return res.data;
    },
  },
};
</script>

<style lang="scss" scoped></style>
