<template>
  <div class="mp-recovery-password">
    <div class="container mp-container-recovery-password">
      <div class="d-flex">
        <div class="col-lg-5 col-md-8 col-sm-10 mx-auto h-100 my-auto">
          <v-form
            ref="formRecoveryPassword"
            v-on:submit.prevent="sendRecoverPassword"
            lazy-validation
            v-model="valid"
            class="mp-form-recovery"
          >
            <h4 class="text-center title-recovery">Recuperar contraseña</h4>
            <p class="text-center">
              <small> Completa el formulario para validar tus datos</small>
            </p>
            <div
              v-if="messageResponse.show"
              :class="`alert alert-${messageResponse.status} mb-3`"
              role="alert"
            >
              {{ messageResponse.message }}
              <br />
              <nuxt-link
                v-if="messageResponse.status === 'success'"
                to="/"
                class="alert-link mr-1"
                >Volver a Mercado de Lima.</nuxt-link
              >
            </div>
            <div
              v-if="!messageResponse.show && messageResponse.status !== 'success'"
              class="row"
            >
              <div class="col-lg-12 col-md-12 col-sm-12 pb-1">
                <v-text-field
                  autocomplete="off"
                  id="mp-dni-emprendimiento"
                  v-model="user.dni"
                  :rules="dniRules"
                  outlined
                  v-mask="dniMask"
                  background-color="#fff"
                  placeholder="DNI (*)"
                >
                </v-text-field>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 pb-1">
                <v-text-field
                  autocomplete="off"
                  v-model="user.email"
                  id="email-recovery-password"
                  outlined
                  :background-color="color"
                  placeholder="Correo (*)"
                  :rules="emailRules"
                  required
                ></v-text-field>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <v-btn
                  type="submit"
                  block
                  color="#1A4A84"
                  :disabled="loading"
                  :loading="loading"
                  dark
                >
                  Enviar
                </v-btn>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="d-flex align-items-center justify-content-between">
                  <span>
                    <small> (*) campos obligatorios </small>
                  </span>
                  <img
                    draggable="false"
                    style="max-height: 40px"
                    :src="logoColor1"
                    alt="logo mercado de lima"
                  />
                </div>
              </div>
            </div>
          </v-form>
        </div>
      </div>
    </div>
    <LoaderPage :active="activeLoader" />
  </div>
</template>

<script>
import LoaderPage from "@/components/globals/loaders/LoaderPage";
import Swal from "sweetalert2";

import { mapState } from "vuex";
export default {
  middleware: "authenticated",
  components: {
    LoaderPage,
  },
  data() {
    return {
      valid: true,
      loading: false,
      activeLoader: false,
      user: {
        email: "",
        dni: "",
      },
      color: "#fff",
      messageResponse: {
        message: "Sus datos son inválidos",
        status: "danger",
        show: false,
      },
      dniMask: "########",
      dniRules: [
        (v) => !!v || "El dni es requerido",
        (v) => v.length == 8 || "Dni inválido",
      ],
      emailRules: [
        (v) => !!v || "El correo es requerido",
        (v) => /.+@.+\..+/.test(v) || "Ingresa un correo válido (ejemplo@correo.com)",
      ],
    };
  },
  computed: {
    ...mapState({
      logoColor1: (state) => state.baseData.logoColor,
    }),
  },
  methods: {
    validateForm() {
      return this.$refs.formRecoveryPassword.validate();
    },
    resetValidation() {
      this.$refs.formRecoveryPassword.resetValidation();
    },
    clearFields() {
      this.user = {
        email: "",
        dni: "",
      };
    },

    async sendRecoverPassword() {
      if (!this.validateForm()) return;
      this.loading = true;
      const res = await this.$axios.post(`/api/auth/recover_password`, this.user);
      this.loading = false;
      if (res.status != 200) {
        this.messageResponse = {
          message: res.data.message ? res.data.message : "Ocurrio un error",
          status: "danger",
          show: true,
        };
        return;
      }
      (this.messageResponse = {
        message: res.data.message
          ? res.data.message
          : "Revise su correo electrónico para encontrar un link para restablecer su contraseña. Si no aparece en unos minutos, revise su carpeta de spam.",
        status: "success",
        show: true,
      }),
        this.resetValidation();
      this.clearFields();
    },
  },
};
</script>

<style lang="scss" scoped>
.mp-recovery-password {
  height: 100vh;
  display: flex;
  align-items: center;
  background: rgb(205, 231, 244);
  .mp-container-recovery-password {
    @media screen and(max-width: 360px) {
      & {
        padding: 0 !important;
      }
    }
    .title-recovery {
      font-family: $primary-font;
      color: $color-blue;
      font-size: 1.1rem;
      font-weight: 700;
    }
    .mp-form-recovery {
      background: rgb(243, 242, 242);
      font-family: $number-font;
      padding: 1.5em;
      .button-send-recovery {
        border: 1px solid $color-blue;
        background: $color-blue;
        color: #fff;
        padding: 0.6em 0;
        border-radius: 3px;
        outline: none;
      }
    }
  }
}
</style>
