<template>
<div class="mp-card-bussiness">

    <!--<v-img class="grey" alt="" src="https://upload.wikimedia.org/wikipedia/commons/3/34/Regensburg_Uferpanorama_08_2006.jpg" width="100%" height="220px" min-height="200px">
    </v-img>-->
    <div class="mp-cover-page-card">

    </div>
</div>
</template>

<script>
export default {
    data() {
        return {

        }
    },
}
</script>

<style lang="scss" scoped>
.mp-card-bussiness {}
</style>
