<template>
  <div>
    <FormDateRange v-on:dateChange="getStats" />
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <LineChart
          :key="baseIndex + 1"
          :allSeries="series"
          :labels="labels"
          :titleVariable="title ? `Visitas a ${title}` : ''"
          variable="Cantidad de visitas"
        />
      </div>
      <!-- <div class="col-lg-6 col-md-6 col-sm-12">
        <LineChart
          :key="baseIndex + 2"
          :allSeries="series2"
          :labels="labels2"
          :titleVariable="title ? `Contactos a ${title}` : ''"
          variable="Número de contactos"
        />
      </div> -->
      <div v-if="type === 'entrepreneur'" class="col-lg-6 col-md-6 col-sm-12">
        <LineChart
          :key="baseIndex + 3"
          :allSeries="series3"
          :labels="labels3"
          :titleVariable="title ? `Visitas a los productos de ${title}` : ''"
          variable="Número de visitas en productos"
        />
      </div>
      <!-- <div v-if="type === 'entrepreneur'" class="col-lg-6 col-md-6 col-sm-12">
        <BarChart
          :key="baseIndex + 4"
          :title="title ? `Top 10 productos más contactados de ${title}` : ''"
          :allSeries="series4"
          seriesName="Contactos"
          :labels="labels4"
          yTitle="Numero de contactos"
          theme="palette2"
        /> 
      </div> -->
      <div v-if="type === 'entrepreneur'" class="col-lg-6 col-md-6 col-sm-12">
        <BarChart
          :key="baseIndex + 5"
          :title="title ? `Top 10 productos más visitados de ${title}` : ''"
          :allSeries="series5"
          seriesName="Visitas"
          :labels="labels5"
          yTitle="Numero de Visitas"
          theme="palette3"
        />
      </div>
      <div v-if="type === 'entrepreneur'" class="col-lg-6 col-md-6 col-sm-12">
        <BarChart
          :key="baseIndex + 6"
          :title="title ? `Top 10 productos más calificados de ${title}` : ''"
          :allSeries="series6"
          seriesName="Prom. calificaciones"
          :labels="labels6"
          yTitle="Promedio de calificaciones"
          theme="palette5"
        />
      </div>
    </div>
    <LoaderPage :active="loaderP" :zIndex="200" />
  </div>
</template>

<script>
import LineChart from "@/components/charts/LineChart";
import BarChart from "@/components/charts/BarChart";
import FormDateRange from "@/components/forms/FormDateRange";
import LoaderPage from "@/components/globals/loaders/LoaderPage";

export default {
  components: {
    LineChart,
    FormDateRange,
    LoaderPage,
    BarChart,
  },
  props: {
    paramId: String,
    type: String,
    title: String,
  },
  data() {
    return {
      baseIndex: 32659888755,
      series: [],
      labels: [],
      series2: [],
      labels2: [],
      series3: [],
      labels3: [],
      series4: [],
      labels4: [],
      series5: [],
      labels5: [],
      series6: [],
      labels6: [],
      loaderP: false,
    };
  },

  methods: {
    async getStats(ev) {
      try {
        if (ev.startDate && ev.endDate) {
          this.loaderP = true;
          await this.getCountStats(ev);
          await this.getContactStat(ev);
          if (this.type === "entrepreneur") {
            await this.getVisitsByStore(ev);
            await this.getProductWithMoreContacts(ev);
            await this.getProductWithMoreVisits(ev);
            await this.getFeaturedProducts(ev);
          }
          this.loaderP = false;
          this.baseIndex += 10;
        }
      } catch (error) {
        this.loaderP = false;
      }
    },
    async getCountStats(ev) {
      const res = await this.$axios.get(
        `/api/indicators/${this.type === "product" ? "products" : "stores"}/${
          this.paramId
        }/count?startDate=${ev.startDate}${ev.endDate ? "&endDate=" + ev.endDate : ""}`
      );
      if (res.status != 200) return;
      this.series = [
        {
          name: "Cantidad de visitas",
          data: res.data.counts ? res.data.counts : [],
        },
      ];
      this.labels = res.data.dates ? res.data.dates.map((d) => this.formatFec(d)) : [];
    },
    async getContactStat(ev) {
      const res = await this.$axios.get(
        `/api/indicators/${this.type === "product" ? "products" : "stores"}/${
          this.paramId
        }/contact?startDate=${ev.startDate}${ev.endDate ? "&endDate=" + ev.endDate : ""}`
      );
      if (res.status != 200) return;
      this.series2 = res.data.serie ? res.data.serie.reverse() : [];
      this.labels2 = res.data.dates ? res.data.dates.map((d) => this.formatFec(d)) : [];
    },
    async getProductWithMoreContacts(ev) {
      const res = await this.$axios.get(
        `/api/indicators/products/users/contacts/count?startDate=${ev.startDate}${
          ev.endDate ? "&endDate=" + ev.endDate : ""
        }`
      );
      if (res.status != 200) return;
      this.series4 = res.data.series ? res.data.series : [];
      this.labels4 = res.data.labels ? res.data.labels : [];
    },
    async getProductWithMoreVisits(ev) {
      const res = await this.$axios.get(
        `/api/indicators/products/users/count?startDate=${ev.startDate}${
          ev.endDate ? "&endDate=" + ev.endDate : ""
        }`
      );
      if (res.status != 200) return;
      this.series5 = res.data.series ? res.data.series : [];
      this.labels5 = res.data.labels ? res.data.labels : [];
    },
    async getFeaturedProducts(ev) {
      const res = await this.$axios.get(
        `/api/indicators/products/featured/users?startDate=${ev.startDate}${
          ev.endDate ? "&endDate=" + ev.endDate : ""
        }`
      );
      if (res.status != 200) return;
      console.log(res.data);
      this.series6 = res.data.series ? res.data.series : [];
      this.labels6 = res.data.labels ? res.data.labels : [];
    },
    async getVisitsByStore(ev) {
      const res = await this.$axios.get(
        `/api/indicators/products/stores/${this.paramId}/count?startDate=${ev.startDate}${
          ev.endDate ? "&endDate=" + ev.endDate : ""
        }`
      );
      if (res.status != 200) return;
      this.series3 = [
        {
          name: "Cantidad de visitas",
          data: res.data.counts ? res.data.counts : [],
        },
      ];
      this.labels3 = res.data.dates ? res.data.dates.map((d) => this.formatFec(d)) : [];
    },
    formatFec(fec) {
      if (!fec) return;
      let arr = fec.toString().substring(0, 10).split("-");
      return `${arr[2]}/${arr[1]}/${arr[0]}`;
    },
  },
};
</script>

<style lang="scss" scoped></style>
