<template>
  <div class="mp-card-container">
    <div v-if="business" class="mp-card-item">
      <div class="mp-categories">
        <!--Calzados-->
      </div>
      <div class="mp-bottom-content">
        <div class="mp-image-item">
          <img
            class="mp-bg-image"
            draggable="false"
            loading="lazy"
            v-lazy="
              business && business.logo
                ? `${baseURL}/file/${business.logo.filename}`
                : business.image
                ? `${baseURL}/file/${business.image.filename}`
                : business.images
                ? `${baseURL}/file/${business.images[0].filename}`
                : imgArtesania
            "
            :alt="
              business.store && business.store.businessName
                ? business.store.businessName
                : business.businessName || ''
            "
          />
          <!-- <div
            class="mp-bg-image"
            :style="`background-image: url(${
              business && business.logo
                ? `${baseURL}/file/${business.logo.filename}`
                : business.image ? `${baseURL}/file/${business.image.filename}` : business.images ? `${baseURL}/file/${business.images[0].filename}` : imgArtesania
            });`"
          ></div> -->
        </div>
        <div class="mp-content-item">
          <h3 class="mp-title-item">
            {{
              business.store && business.store.businessName
                ? business.store.businessName
                : business.businessName || ""
            }}
          </h3>
          <div class="mp-categories-content">
            <span>{{
              business.store && business.store.storeReview
                ? business.store.storeReview
                : business.storeReview || ""
            }}</span>
          </div>
          <div class="mp-district-content">
            {{
              business.store && business.store.department
                ? business.store.department.name
                : business.department
                ? business.department.name
                : ""
            }},
            {{
              business.store && business.store.province
                ? business.store.province.name
                : business.province
                ? business.province.name
                : ""
            }},
            {{
              business.store && business.store.district
                ? business.store.district.name
                : business.district
                ? business.district.name
                : ""
            }}
          </div>
          <div class="mp-qualification-item">
            <Stars
              v-if="
                (business.store && business.store.rating != 0) || business.rating != 0
              "
              :maxQualf="5"
              :qualif="
                business.store && business.store.rating
                  ? business.store.rating
                  : business.rating || 0
              "
            />
          </div>
          <div class="mp-actions-item">
            <nuxt-link
              :to="`/${
                business.store && business.store.sku
                  ? business.store.sku
                  : business.sku || '/'
              }`"
              class="mp-content-action"
            >
              <span> Visitar ahora</span>
              <i class="fas fa-arrow-right ml-1"></i>
            </nuxt-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import imgArtesania from "@/static/bg/og-image.jpg";
import imgZapatos from "@/static/bg/zapatos.jpg";
import Stars from "@/components/stars/Stars";
import { mapState } from "vuex";
export default {
  components: {
    Stars,
  },
  props: {
    business: Object,
  },
  data() {
    return {
      imgArtesania: imgArtesania,
    };
  },
  mounted() {},
  computed: {
    ...mapState({
      baseURL: (state) => state.baseData.baseURL,
    }),
  },
};
</script>

<style lang="scss" scoped>
$card-img-height: 185px;
$card-margin-separator: 8px;

.mp-card-container {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  max-width: 100%;

  .mp-card-item {
    height: 100%;
    position: relative;
    //overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    font-family: $primary-font;
    padding: 0.8em 1em;
    box-sizing: border-box;
    background: $color-font-dark;
    color: $color-black;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 10px !important;
    margin-right: 10px !important;
    //box-shadow: 10px 10px 0 $color-secondary-opacity;
    box-shadow: -1px 3px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);

    .mp-categories {
      font-size: 13px;
      margin-bottom: 5px;
      font-weight: 500;
    }

    .mp-bottom-content {
      display: flex;
      flex-flow: column nowrap;

      .mp-image-item {
        flex: 1.5;
      }

      .mp-content-item {
        flex: 2;
      }

      .mp-image-item .mp-bg-image {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: $card-img-height;
        border-radius: 5px;
        overflow: hidden;
        //
        object-fit: cover;
        width: 100%;
        max-width: 100%;
      }

      .mp-content-item {
        padding: 0 0.8em;
      }

      .mp-content-item .mp-title-item {
        font-weight: 700;
        font-size: 18px;
        margin-bottom: $card-margin-separator;
        color: $color-blue;
      }

      .mp-content-item .mp-categories-content {
        font-weight: 300;
        font-size: 13px;
        margin-bottom: $card-margin-separator;
        max-height: 40px;
        overflow: hidden;
        --max-lines: 2;
        max-height: calc(var(1.4rem) * var(--max-lines));
        position: relative;

        &::before {
          content: "...";
          position: absolute;
          bottom: -3px;
          right: -3px;
        }
      }

      .mp-content-item .mp-district-content {
        font-weight: 500;
        font-size: 13px;
        margin-bottom: $card-margin-separator;
      }

      .mp-content-item .mp-qualification-item {
        margin-bottom: $card-margin-separator;
      }

      .mp-content-item .mp-actions-item {
        padding-top: 0.8em;

        a {
          color: $color-blue;
          text-decoration: none;
          padding: 0.65em 1em;
          border-radius: 30px;
          font-size: 13px;
          border: 1px solid $color-blue;
          margin-top: $card-margin-separator;
          margin-bottom: 0;
          transition: all ease-in-out 0.25s;

          &:hover {
            background: $color-blue;
            color: #fff;
          }
        }
      }
    }
  }
}

/* @media screen and (max-width: $breakpoint-phone) { */
.mp-card-container {
  box-sizing: border-box;
  position: relative;

  .mp-card-item {
    height: 100%;
    position: relative;
    display: flex;
    flex-flow: column nowrap;

    .mp-categories {
      font-size: 13px;
      margin-bottom: 5px;
      font-weight: 500;
    }

    .mp-bottom-content {
      display: flex;
      flex-flow: column nowrap;

      .mp-image-item {
        flex: 1;
      }

      .mp-content-item {
        flex: 2;
      }

      .mp-image-item .mp-bg-image {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: $card-img-height;
      }

      .mp-content-item {
        padding: 1em 0.2em;
      }

      .mp-content-item .mp-title-item {
        font-weight: 700;
        font-size: 16px;
        margin-bottom: $card-margin-separator;
      }

      .mp-content-item .mp-categories-content {
        font-weight: 300;
        font-size: 13px;
        margin-bottom: $card-margin-separator;
        max-height: 40px;
        overflow: hidden;
      }

      .mp-content-item .mp-district-content {
        font-weight: 500;
        font-size: 13px;
        margin-bottom: $card-margin-separator;
      }

      .mp-content-item .mp-qualification-item {
        margin-bottom: $card-margin-separator;
      }

      .mp-content-item .mp-actions-item {
        padding-top: 0.8em;

        a {
          font-size: 13px;
        }
      }
    }
  }
}

/* } */
</style>
