<template>
  <nuxt-link
    :to="
      isUser
        ? hrefProductsUser
        : product && product.store
        ? `/${product.store.sku}/${product.sku}`
        : `/${product.store.sku}/${product.sku}`
    "
    class="mp-product-card"
  >
    <div v-if="product.discount && product.discount > 0" class="mp-product-status">
      <v-chip x-small dark color="tertiary number-font"
        >{{ product.discount }} % DSCTO</v-chip
      >
    </div>
    <div v-if="product.campaigns && Object.keys(product.campaigns).length !== 0" class="mp-product-icon">
      <img         
      draggable="false"
      v-lazy="product.campaigns.icon ? `${baseURL}/file/${product.campaigns.icon.filename}` : null
        " />
    </div>

    <div class="mp-product-top-image">
      <img
        v-if="product.images"
        draggable="false"
        v-lazy="
          product.images && product.images[0]
            ? `${baseURL}/file/${product.images[0].filename}`
            : img1
        "
        :alt="product.title"
      />
      <img v-else draggable="false" :src="img1" alt="default imagen mercado de lima" />
    </div>
    <div class="mp-product-description">
      <h4 class="mp-product-name">
        {{ product.title ? product.title : "" }}
      </h4>
      <div v-if="!person" class="mp-brand-product">
        {{
          product && product.store && product.store.businessName
            ? product.store.businessName
            : ``
        }}
      </div>
      <div v-else class="mp-brand-product">
        {{ product && product.store.businessName ? product.store.businessName : `` }}
      </div>
      <div class="mp-brand-measure">
        {{ product.metricNumber ? product.metricNumber : "" }}
        {{ product.metric && product.metric.name ? `${product.metric.name}` : "" }}
      </div>
      <div
        v-if="product.discount && product.discount > 0"
        class="mp-product-price-discount"
      >
        <span
          ><del>{{
            getPriceFormatter(product.startingPrice ? product.startingPrice : 0)
          }}</del></span
        >
      </div>
      <div class="mp-product-price">
        <span v-if="product.startingPrice && product.startingPrice > 0">{{
          getPriceFormatter(
            product.finalPrice ? product.finalPrice : product.startingPrice
          )
        }}</span>
        <div v-else class="consult-price">Precio a tratar</div>
      </div>
    </div>
    <div class="mp-hover-prev">
      <div v-if="!isUser" class="mp-icon-search">
        <i class="fas fa-search"></i>
      </div>
      <div v-else class="mp-actions-product-card">
        <nuxt-link
          :to="`/${product.store.sku}/${product.sku}`"
          class="v-btn v-btn--contained v-btn--fab v-btn--round theme--light v-size--small tertiary"
        >
          <v-icon small>visibility</v-icon>
        </nuxt-link>
        <v-btn @click="$emit('openStatsProduct', product)" color="tertiary" fab small>
          <v-icon small>leaderboard</v-icon>
        </v-btn>
        <v-btn @click="openEditProduct(product)" color="tertiary" fab small>
          <v-icon small>edit</v-icon>
        </v-btn>
        <v-btn @click="deleteProductUser(product)" color="tertiary" fab small>
          <v-icon small>delete</v-icon>
        </v-btn>
      </div>
    </div>
  </nuxt-link>
</template>

<script>
import noImage from "@/static/img/no-image-2.png";
import { mapState } from "vuex";
import Swal from "sweetalert2";
export default {
  props: {
    isUser: Boolean,
    product: Object,
    person: Object,
    showIcon: Boolean,
  },
  data() {
    return {
      hrefProductsUser: "/user/mis-productos",
      img1: noImage,
      today: new Date(),
    };
  },
  computed: {
    ...mapState({
      baseURL: (state) => state.baseData.baseURL,
    }),
  },
  methods: {
    getPriceFormatter(price) {
      const Formatter = new Intl.NumberFormat("es-PE", {
        style: "currency",
        currency: "PEN",
      });
      return price ? Formatter.format(price) : "";
    },
    openProductSelected(product) {
      const path = `${product.person.store.sku}/${product.sku}`;
      window.open(path);
    },
    openEditProduct(product) {
      this.$emit("openEditProduct", {
        ...product,
      });
    },
    async deleteProductUser(product) {
      const val = await Swal.fire({
        //title: `¿Está usted seguro de esto?`,
        text: `La siguiente acción eliminará el producto "${product.title}" de forma definitiva`,
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#1A4A84",
        confirmButtonText: "Si, quiero eliminar!",
      });
      if (!val.value) return;
      this.$emit("productToDelete", product);
    },
  },
};
</script>

<style lang="scss" scoped>
//$card-product-width: 225px;
$card-product-height: 400px;

.mp-product-card {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: $card-product-height;
  box-shadow: -1px 3px 4px rgba(0, 0, 0, 0.1);
  /* box-shadow: 0 1px 1px 0 rgba(0,0,0,.1), 0 -1px 2px 0 rgba(0,0,0,.1); */
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: $primary-font;
  color: $color-black;
  transition: all ease-in-out 0.25s;
  position: relative;
  padding: 0.5em 1em;

  &:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid $color-primary;

    .mp-hover-prev {
      visibility: visible;
      opacity: 1;

      .mp-icon-search {
        padding: 1em 1.2em;
        border-radius: 50%;
        background: rgba(0, 163, 156, 0.3);
      }
    }

    &::before,
    &::after {
      transform: scale3d(1, 1, 1);
    }
  }

  &::before {
    transform-origin: left top;
  }

  &::after {
    transform-origin: right bottom;
  }

  &::before,
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform 0.3s ease-out 0s;
    background: rgba(0, 163, 156, 0.1);
    content: "";
    pointer-events: none;
  }

  .mp-product-status {
    position: absolute;
    top: 1px;
    right: 3px;
  }

  .mp-product-icon {
    position: absolute;
    top: 0;
    background: #fff;
    left: 0;
    padding: 0.8em;
    border-radius: 0 0 15px 0;
    max-height: 60px;
    transition: all ease-in-out 0.25s;
    img {
      max-height: 30px;
    }
  }

  .mp-product-top-image {
    flex: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0.5em 0 1em;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .mp-hover-prev {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all ease-in-out 0.25s;

    i {
      color: #fff;
    }
  }

  .mp-product-description {
    flex: 1;
    text-align: center;

    .mp-brand-product {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 11px;
      margin-bottom: 5px;
      color: rgba(0, 0, 0, 0.8);
    }

    .mp-product-price-discount {
      color: rgba(0, 0, 0, 0.65);
      font-weight: 500;
      font-family: $number-font;
      font-size: 13px;
      margin-bottom: 5px;
    }

    .mp-product-price {
      color: $color-blue;
      font-weight: normal;
      font-size: 14px;
      font-family: $number-font;

      span {
        font-weight: 700;
        font-size: 22px;
      }
      div.consult-price {
        color: $color-blue;
        padding: 0.5em 1em;
        //border-radius: 27px;
        font-weight: bold;
        font-size: 17px;
        text-transform: uppercase;
        //border: 1px solid $color-blue;
      }
    }

    .mp-brand-measure {
      position: relative;
      font-family: $number-font;
      color: rgba(0, 0, 0, 0.6);
      font-size: 14px;
      margin-bottom: 10px;
      padding-bottom: 8px;

      &::after {
        height: 1px;
        background: #ddd;
        width: 30px;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -15px;
        content: "";
      }
    }

    .mp-product-name {
      font-weight: 700;
      font-size: 15px;
      color: #000;
    }
  }
}

@media screen and (max-width: 575px) {
  .mp-product-card {
    height: 390px;
    max-width: 380px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 400px) {
  .mp-product-card {
    height: 400px;
  }
}
</style>
