<template>
  <div class="mp-slide-images-product">
    <div class="mp-swipe-preview-image">
      <div class="swiper-container mp-slide-images-product">
        <div class="swiper-wrapper">
          <div
            v-for="(img, idx) in images && images.length > 0 ? images : defaultImages"
            :key="idx + 8490"
            class="swiper-slide img-zoom-container"
          >
            <div class="mp-image-wrapper">
              <div class="mp-image-slide">
                <img
                  class="img-fluid my-auto mx-auto mp-image-slide-product"
                  v-lazy="
                    img && img.filename ? `${baseURL}/file/${img.filename}` : noImage
                  "
                  :alt="productName"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
      <div class="container-zoom-result">
        <div id="myresult" class="img-zoom-result"></div>
      </div>
    </div>

    <div class="mp-rest-gallery-product">
      <div class="swiper-container gallery-thumbs-product">
        <div class="swiper-wrapper">
          <div v-for="(img, idx) in images" :key="idx + 8590" class="swiper-slide">
            <div class="mp-img-thumb">
              <img
                class="img-fluid"
                v-lazy="`${baseURL}/file/${img.filename}`"
                :alt="productName"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import noImage from "@/static/img/no-image-2.png";
import { mapState } from "vuex";
export default {
  props: {
    productName: String,
    images: Array,
  },
  data() {
    return {
      slideImages: null,
      noImage: noImage,
      defaultImages: [noImage],
    };
  },
  computed: {
    ...mapState({
      baseURL: (state) => state.baseData.baseURL,
    }),
  },
  mounted() {
    var galleryThumbs = new this.$Swiper(".swiper-container.gallery-thumbs-product", {
      spaceBetween: 10,
      slidesPerView: 5,
      freeMode: false,
      watchSlidesVisibility: true,
      watchSlidesProgress: true,
      breakpoints: {
        500: {
          slidesPerView: 4,
          spaceBetween: 5,
        },
        768: {
          slidesPerView: 4,
          spaceBetween: 5,
        },
        1024: {
          slidesPerView: 4,
          spaceBetween: 5,
        },
        1200: {
          slidesPerView: 5,
          spaceBetween: 5,
        },
        1500: {
          slidesPerView: 5,
          spaceBetween: 5,
        },
        2400: {
          slidesPerView: 6,
          spaceBetween: 10,
        },
      },
    });
    var slideImages = new this.$Swiper(".swiper-container.mp-slide-images-product", {
      loop: false,
      spaceBetween: 15,
      slidesPerView: 1,
      /* autoplay: {
                delay: 4000,
            }, */
      navigation: {
        nextEl: ".mp-slide-images-product .swiper-button-next",
        prevEl: ".mp-slide-images-product .swiper-button-prev",
      },
      thumbs: {
        swiper: galleryThumbs,
      },
    });
    const width = window.innerWidth;

    if (width > 959) {
      this.addZoomPreviewOnImages();
    }
  },
  methods: {
    addZoomPreviewOnImages() {
      const images = document.querySelectorAll(".mp-image-slide-product.img-fluid");
      const resultImg = document.getElementById("myresult");
      images.forEach((img) => {
        this.imageZoom(img, resultImg);
      });
    },
    imageZoom(imgEl, resultEl) {
      const containerResult = document.querySelector(".container-zoom-result");
      let img, lens, result, cx, cy;
      img = imgEl;
      result = resultEl;
      /*create lens:*/
      lens = document.createElement("DIV");
      lens.setAttribute("class", "img-zoom-lens");
      /*insert lens:*/
      img.parentElement.insertBefore(lens, img);
      /*calculate the ratio between result DIV and lens:*/
      cx = result.offsetWidth / lens.offsetWidth;
      cy = result.offsetHeight / lens.offsetHeight;
      /*set background properties for the result DIV:*/
      //mouse enter
      img.addEventListener("mouseenter", changeBg);
      lens.addEventListener("mouseleave", clearPrev);
      /*execute a function when someone moves the cursor over the image, or the lens:*/
      lens.addEventListener("mousemove", moveLens);
      img.addEventListener("mousemove", moveLens);
      /*and also for touch screens:*/
      lens.addEventListener("touchmove", moveLens);
      img.addEventListener("touchmove", moveLens);

      function changeBg(e) {
        const descEl = document.getElementById("mp-product-description-section");
        containerResult.classList.add("active-zoom");
        containerResult.style.width = `${descEl.clientWidth}px`;
        result.style.width = `${descEl.clientWidth}px`;
        result.style.backgroundImage = "url('" + img.src + "')";
        result.style.backgroundSize = img.width * cx + "px " + img.height * cy + "px";
      }

      function clearPrev(e) {
        containerResult.classList.remove("active-zoom");
      }

      function moveLens(e) {
        document.querySelector(".container-zoom-result").classList.add("active-zoom");
        let pos, x, y;
        /*prevent any other actions that may occur when moving over the image:*/
        e.preventDefault();
        /*get the cursor's x and y positions:*/
        pos = getCursorPos(e);
        /*calculate the position of the lens:*/
        x = pos.x - lens.offsetWidth / 2;
        y = pos.y - lens.offsetHeight / 2;
        /*prevent the lens from being positioned outside the image:*/
        if (x > img.width - lens.offsetWidth) {
          x = img.width - lens.offsetWidth;
        }
        if (x < 0) {
          x = 0;
        }
        if (y > img.height - lens.offsetHeight) {
          y = img.height - lens.offsetHeight;
        }
        if (y < 0) {
          y = 0;
        }
        /*set the position of the lens:*/
        lens.style.left = x + "px";
        lens.style.top = y + "px";
        /*display what the lens "sees":*/
        result.style.backgroundPosition = "-" + x * cx + "px -" + y * cy + "px";
      }

      function getCursorPos(e) {
        let a,
          x = 0,
          y = 0;
        e = e || window.event;
        /*get the x and y positions of the image:*/
        a = img.getBoundingClientRect();
        /*calculate the cursor's x and y coordinates, relative to the image:*/
        x = e.pageX - a.left;
        y = e.pageY - a.top;
        /*consider any page scrolling:*/
        x = x - window.pageXOffset;
        y = y - window.pageYOffset;
        return {
          x: x,
          y: y,
        };
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.mp-slide-images-product {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  position: relative;

  .swiper-container.mp-slide-images-product {
    height: 420px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    .swiper-slide {
      width: 100% !important;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 100%;
      max-height: 100%;

      .mp-image-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        .mp-image-slide {
          position: relative;
          max-width: 100%;
          max-height: 100%;
          width: auto;
          height: auto;
          /* display: flex;
                    display: flex;
                    justify-content: center;
                    align-items: center; */

          img {
            max-width: 100%;
            max-height: 100%;
            margin: auto;
            max-height: 420px;
          }
        }
      }
    }

    .swiper-button-prev {
      left: 0 !important;
    }

    .swiper-button-next {
      right: 0 !important;
    }

    .swiper-button-next,
    .swiper-button-prev {
      /* width: 35px !important;
                height: 35px !important;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;
                border-radius: 50%;
                background: $color-blue;
                outline: none; */

      &::after {
        font-size: 20px !important;
        color: $color-blue;
        font-weight: 700;
      }
    }
  }

  .mp-rest-gallery-product {
    padding: 1em 0 0.5em;

    .gallery-thumbs-product {
      box-sizing: border-box;
      width: 100%;
      height: 60px;

      .swiper-wrapper {
        width: 100%;
        height: 100%;

        .swiper-slide {
          height: 100%;
          width: 25%;
          opacity: 0.4;
          max-width: 100%;
          max-height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          .mp-img-thumb {
            max-width: 100%;
            max-height: 100%;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1em;

            .img-fluid {
              max-height: 100%;
            }
          }
        }

        .swiper-slide-thumb-active {
          opacity: 1;
        }
      }
    }
  }
}

.mp-swipe-preview-image {
  position: relative;

  .swiper-slide.img-zoom-container {
  }
}

@media screen and (max-width: 959px) {
  .mp-slide-images-product {
    .mp-rest-gallery-product {
      padding: 1em 0 0.5em;

      .gallery-thumbs-product {
        height: 80px;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .mp-slide-images-product {
    .swiper-container.mp-slide-images-product {
      height: 350px;

      .mp-image-slide {
        img {
          max-height: 350px;
        }
      }
    }

    .mp-rest-gallery-product {
      padding: 1em 0 0.5em;

      .gallery-thumbs-product {
        height: 80px;

        .swiper-slide {
          .mp-img-thumb {
            padding: 0 0.15em !important;
          }
        }
      }
    }
  }
}
</style>
