<template>
  <div class="swiper-container mp-swiper-ventures">
    <div class="swiper-wrapper">
      <div
        class="swiper-slide"
        v-for="(item, idx) in stores"
        :key="item._id + idx + baseIndex"
      >
        <StoreCard :business="item" />
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</template>

<script>
import StoreCard from "@/components/cards/CardItem";
export default {
  props: {
    stores: Array,
  },
  components: {
    StoreCard,
  },
  data() {
    return {
      swiperCategories: null,
      baseIndex: 158538,
    };
  },
  mounted() {
    this.swiperCategories = new this.$Swiper(".swiper-container.mp-swiper-ventures", {
      loop: false,
      spaceBetween: 10,
      //slidesPerView: 1,
      autoplay: {
        delay: 4000,
        //disableOnInteraction: true
      },
      breakpoints: {
        500: {
          slidesPerView: 1,
          spaceBetween: 10,
        },
        768: {
          slidesPerView: 2,
          spaceBetween: 20,
        },
        1024: {
          slidesPerView: 2,
          spaceBetween: 25,
        },
        1200: {
          slidesPerView: 3,
          spaceBetween: 10,
        },
        1500: {
          slidesPerView: 4,
          spaceBetween: 5,
        },
        2000: {
          slidesPerView: 5,
          spaceBetween: 5,
        },
      },
      navigation: {
        nextEl: `.mp-swiper-ventures .swiper-button-next`,
        prevEl: `.mp-swiper-ventures .swiper-button-prev`,
      },
    });
    document
      .querySelector(".swiper-container.mp-swiper-ventures")
      .addEventListener("mouseenter", this.pauseSwiper);
    document
      .querySelector(".swiper-container.mp-swiper-ventures")
      .addEventListener("mouseleave", this.playSwiper);
  },
  methods: {
    pauseSwiper() {
      this.swiperCategories.autoplay.stop();
    },
    playSwiper() {
      this.swiperCategories.autoplay.start();
    },
  },
};
</script>

<style lang="scss" scoped>
.swiper-container.mp-swiper-ventures {
  height: auto;
  display: flex;
  align-items: center;
  cursor: grabbing;
}

.swiper-container.mp-swiper-ventures {
  .swiper-button-prev {
    left: 0 !important;
  }

  .swiper-button-next {
    right: 0 !important;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 35px !important;
    height: 35px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 50%;
    background: $color-blue;
    outline: none;

    &::after {
      font-size: 13px !important;
      color: #fff;
    }
  }
}
</style>
