<template>
  <div class="mp-wrapper-results-sub-category">
    <v-card elevation="0">
      <v-data-iterator
        :footer-props="footerOptions"
        :server-items-length="totalDocs"
        :page="page"
        :items-per-page="limit"
        :items="products"
        @update:page="getMoreProducts"
        :key="baseIndex"
      >
        <template v-slot:default="props">
          <div class="row">
            <div
              v-for="item in props.items"
              :key="item._id"
              class="col-xl-3 col-lg-3 col-md-4 col-sm-6"
            >
              <ProductCard :isUser="false" :product="item" />
            </div>
          </div>
        </template>
      </v-data-iterator>
    </v-card>
    <LoaderPage :active="activeLoader" :zIndex="40" />
  </div>
</template>

<script>
import ProductCard from "@/components/cards/ProductCard";
import seoSubcategory from "@/meta-tags/subcategory";
import LoaderPage from "@/components/globals/loaders/LoaderPage";
export default {
  components: {
    ProductCard,
    LoaderPage,
  },
  props: {
    category: Object,
  },
  head() {
    return seoSubcategory(this.category, this.$route.params);
  },
  async asyncData({ route, $axios, store, params, query, redirect }) {
    try {
      const limit = 9;
      const res = await $axios.get(
        `/api/products/subcategories/${params.skuSubCategory}?page=${
          query.page || 1
        }&limit=${limit}`
      );
      if (res.status != 200) {
        return {
          products: [],
          page: 1,
          limit: limit,
          totalDocs: 0,
          footerOptions: {
            "items-per-page-options": [limit],
          },
        };
      }

      return {
        products: res.data.docs,
        page: res.data.page,
        limit: res.data.limit,
        totalDocs: res.data.totalDocs,
        footerOptions: {
          "items-per-page-options": [limit],
        },
      };
    } catch (err) {
      redirect("/");
      //redirect('/')
    }
  },
  data() {
    return {
      activeLoader: false,
      baseIndex: 24532,
    };
  },
  mounted() {
    try {
      this.$ga.page({
        page: `/categorias/${this.$route.params.skuCategory}/${this.$route.params.skuSubCategory}`,
        title: `Subcategoria ${this.$route.params.skuSubCategory} de la categoria ${
          this.category.name || this.$route.params.skuCategory
        }`,
        location: window.location.href,
      });
    } catch (err) {}
  },
  methods: {
    async getMoreProducts(pagine) {
      try {
        this.$router.push({
          path: `/categorias/${this.$route.params.skuCategory}/${this.$route.params.skuSubCategory}`,
          query: {
            page: pagine || 1,
          },
        });
        this.activeLoader = true;
        const res = await this.$axios.get(
          `/api/products/subcategories/${this.$route.params.skuSubCategory}?page=${
            pagine || 1
          }&limit=${this.limit}`
        );
        this.activeLoader = false;
        if (res.status != 200 && res.status != 201) return this.$router.go(-1);
        this.products = res.data.docs;
        this.totalDocs = res.data.totalDocs;
        this.page = res.data.page;
      } catch (err) {
        this.activeLoader = false;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.mp-wrapper-results-sub-category {
}
</style>
