<template>
  <div class="mp-wrapper-results-category">
    <v-card elevation="0">
      <v-data-iterator
        :footer-props="footerOptions"
        :server-items-length="totalDocs"
        :page="page"
        :items-per-page="limit"
        :items="products"
        @update:page="getMoreProducts"
      >
        <template v-slot:default="props">
          <div class="row">
            <div
              v-for="item in props.items"
              :key="item._id"
              class="col-xl-3 col-lg-4 col-md-4 col-sm-6"
            >
              <ProductCard :isUser="false" :product="item" />
            </div>
          </div>
        </template>
      </v-data-iterator>
    </v-card>
    <LoaderPage :active="activeLoader" :zIndex="40" />
  </div>
</template>

<script>
import ProductCard from "@/components/cards/ProductCard";
import LoaderPage from "@/components/globals/loaders/LoaderPage";
export default {
  components: {
    ProductCard,
    LoaderPage,
  },
  async asyncData({ route, $axios, store, params, query, redirect }) {
    try {
      const limit = 9;
      const res = await $axios.$get(
        `/api/products/categories/${params.skuCategory}?page=${
          query.page || 1
        }&limit=${limit}`
      );
      return {
        products: res.docs,
        page: res.page,
        limit: res.limit,
        totalDocs: res.totalDocs,
        footerOptions: {
          "items-per-page-options": [limit],
        },
      };
    } catch (err) {
      redirect("/");
    }
  },
  data() {
    return {
      activeLoader: false,
    };
  },
  mounted() {},
  methods: {
    async getMoreProducts(pagine) {
      try {
        this.$router.push({
          path: `/categorias/${this.$route.params.skuCategory}`,
          query: {
            page: pagine || 1,
          },
        });
        this.activeLoader = true;
        const res = await this.$axios.get(
          `/api/products/categories/${this.$route.params.skuCategory}?page=${
            pagine || 1
          }&limit=${this.limit}`
        );
        this.activeLoader = false;
        if (res.status != 200 && res.status != 201) return this.$router.go(-1);
        this.products = res.data.docs;
        this.totalDocs = res.data.totalDocs;
        this.page = res.data.page;
      } catch (err) {
        this.activeLoader = false;
      }
    },
  },
};
</script>

<style lang="scss" scoped></style>
