<template>
  <div class="mp-all-categories">
    <div class="container">
      <h2 class="mp-title-categories-list">Todas las categorías</h2>
      <div class="mp-container-categories">
        <div
          class="mp-categories-list"
          v-for="(cat, idx) in categories"
          :key="47123698542 + idx"
        >
          <div class="row pb-5">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="mp-title-page-user">{{ cat.name }}</div>
            </div>
            <div
              v-for="(sub, i) in cat.subcategories"
              :key="47123 + i"
              class="col-lg-3 col-md-3 col-sm-6"
            >
              <nuxt-link
                class="mp-link-to-subcat"
                :to="`/categorias/${cat.sku}/${sub.sku}`"
              >
                <!--<i class="fas fa-angle-right"></i>-->
                <small>{{ sub.name }}</small>
              </nuxt-link>
            </div>
          </div>
          <hr v-if="idx + 1 < categories.length" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  layout: "MarketPlace",
  computed: {
    ...mapState({
      categories: (state) => state.baseData.categories,
    }),
  },
};
</script>

<style lang="scss" scoped>
.mp-all-categories {
  background: rgb(237, 237, 237);
  padding: 0.3em 0 2em 0;
  .mp-title-categories-list {
    font-size: 24px;
    margin-bottom: 19px;
    font-weight: 600;
    //color: rgba(74, 74, 74);
    color: $color-blue;
    @media screen and (max-width: 400px) {
      & {
        font-size: 20px;
        margin-bottom: 15px;
      }
    }
  }
  .mp-container-categories {
    background: #fff;
    border-radius: 8px;
    //box-shadow: -1px 4px 74px -16px rgba(0, 0, 0, 0.3);
    padding: 0.4em 1em 2em;
    .mp-categories-list {
      margin-top: 1.7em;
      padding: 0 1em;
      .mp-link-to-subcat {
        color: rgba(0, 0, 0, 0.48);
        display: flex;
        align-items: center;
        padding: 0 0.5em;
        small {
          font-weight: 600;
        }
        i {
          margin-right: 8px;
        }
        &:hover {
          color: $color-blue;
        }
      }
    }
  }
}
</style>
