<template>
  <div class="mp-user-configurations">
    <div class="container p-0 pt-1">
      <div class="mp-title-page-user">Configuraciones</div>
      <div class="mp-shadow-user-view">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <v-card elevation="0" class="pt-2 pb-2" style="">
              <v-form ref="formEmail">
                <div>
                  <v-subheader class="pl-1 pr-1 mb-0">
                    Cambiar correo
                    <v-spacer></v-spacer>
                    <v-switch color="tertiary" v-model="switch1"></v-switch>
                  </v-subheader>
                </div>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 pt-1 pb-1">
                    <v-text-field
                      v-model="email1"
                      :rules="emailRules"
                      :disabled="!switch1"
                      background-color="#eee"
                      filled
                      rounded
                      placeholder="Correo actual (*)"
                    ></v-text-field>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 pt-1 pb-1">
                    <v-text-field
                      v-model="email2"
                      :rules="emailRules"
                      :disabled="!switch1"
                      background-color="#eee"
                      filled
                      rounded
                      placeholder="Nuevo correo (*)"
                    ></v-text-field>
                  </div>
                </div>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    color="tertiary"
                    text
                    :disabled="!switch1 || loading"
                    :loading="loading"
                    @click="changeEmail"
                    >Guardar</v-btn
                  >
                </v-card-actions>
              </v-form>
            </v-card>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <v-card elevation="0" class="pt-2 pb-2" style="">
              <v-form ref="formPassword">
                <div>
                  <v-subheader class="pl-1 pr-1 mb-0">
                    Cambiar contraseña
                    <v-spacer></v-spacer>
                    <v-switch color="tertiary" v-model="switch2"></v-switch>
                  </v-subheader>
                </div>
                <div class="row">
                  <div class="col-lg-12 pb-0 pt-0">
                    <div v-if="validatePasswords" class="alert alert-danger">
                      <small>{{ validatePasswords }}</small>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 pt-0 pb-1">
                    <v-text-field
                      v-model="password1"
                      :rules="passwordRules"
                      :disabled="!switch2"
                      background-color="#eee"
                      type="password"
                      filled
                      rounded
                      placeholder="Contraseña actual (*)"
                    ></v-text-field>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 pt-1 pb-1">
                    <v-text-field
                      v-model="password2"
                      :rules="newPasswordRules"
                      :disabled="!switch2"
                      background-color="#eee"
                      type="password"
                      filled
                      rounded
                      placeholder="Nueva contraseña (*)"
                    ></v-text-field>
                  </div>
                </div>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    color="tertiary"
                    text
                    :disabled="!switch2 || loading"
                    :loading="loading"
                    @click="changePassword"
                    >Guardar</v-btn
                  >
                </v-card-actions>
              </v-form>
            </v-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Swal from "sweetalert2";
export default {
  middleware: "user",
  data() {
    return {
      switch1: false,
      switch2: false,
      loading: false,
      emailRules: [
        (v) => !!v || "Rellena este campo",
        (v) => /.+@.+/.test(v) || "Escribe un correo válido",
      ],
      passwordRules: [(v) => !!v || "La contraseña actual es requerida"],
      newPasswordRules: [
        (v) => !!v || "La nueva contraseña es requerida",
        (v) =>
          (v && v.length >= 6) || "La contraseña debe contener 6 caractéres como mínimo",
        (v) => /[0-9]/.test(v) || "La contraseña debe contener un número (0-9)",
        (v) =>
          /[A-Z]/.test(v) || "La contraseña debe contener un caractér en mayúscula (A-Z)",
      ],
      email1: "",
      email2: "",
      password1: "",
      password2: "",
    };
  },
  computed: {
    validatePasswords() {
      if (this.password1 && this.password1 === this.password2 && this.password2)
        return "Las nueva contraseña no puede ser igual a la anterior";
      return "";
    },
  },
  mounted() {
    try {
      /* this.$ga.page({
        page: `/user/mi-emprendimiento`,
        title: `Vista "Configuraciones" - Usuario ${this.$store.state.auth.user.person.firstName} ${this.$store.state.auth.user.person.lastName}`,
        location: window.location.href,
      }); */
      this.email1 = this.$store.state.auth.user.email;
    } catch (err) {}
  },
  methods: {
    async changeEmail() {
      if (!this.$refs.formEmail.validate()) return;
      const dto = {
        pastEmail: this.email1,
        newEmail: this.email2,
      };
      this.loading = true;
      const res = await this.$axios.patch(`/api/users/email`, dto);
      this.loading = false;
      if (res.status != 200 && res.status != 204)
        return Swal.fire(
          "",
          `${
            res.data.message
              ? res.data.message
              : "Ocurrió un error y no se pudo actualizar el correo"
          }`,
          "error"
        );
      Swal.fire("", "El correo se ha actualizado correctamente!", "success");
      this.email1 = this.email2;
      this.email2 = "";
      this.$refs.formEmail.resetValidation();
      this.switch1 = false;
    },
    async changePassword() {
      if (!this.$refs.formPassword.validate()) return;
      if (this.validatePasswords) return;
      const dto = {
        pastPassword: this.password1,
        newPassword: this.password2,
      };
      this.loading = true;
      const res = await this.$axios.patch(`/api/users/password`, dto);
      this.loading = false;
      if (res.status != 200 && res.status != 204)
        return Swal.fire(
          "",
          `${
            res.data.message
              ? res.data.message
              : "Ocurrió un error y no se pudo actualizar la contraseña"
          }`,
          "error"
        );
      Swal.fire("", "La contraseña se ha actualizado correctamente!", "success");
      this.password1 = "";
      this.password2 = "";
      this.$refs.formPassword.resetValidation();
      this.switch2 = false;
    },
  },
};
</script>

<style lang="scss" scoped>
/* .mp-user-configurations {
    .mp-user-password-email {}
} */
</style>
