<template>
  <div>
    <div class="container p-0 pt-1">
      <div class="mp-title-page-user">Mis Estadísticas</div>
      <div class="mp-shadow-user-view pt-4">
        <client-only>
          <CardStat
            :paramId="business._id"
            type="entrepreneur"
            :title="business.businessName"
          />
        </client-only>
      </div>
    </div>
  </div>
</template>

<script>
import CardStat from "@/components/cards/CardStat";
import { mapState } from "vuex";
export default {
  middleware: "user",
  components: {
    CardStat,
  },
  computed: {
    ...mapState({
      business: (state) => state.auth.user.store,
    }),
  },
};
</script>

<style lang="scss" scoped></style>
