<template>
  <div class="mp-page-requests">
    <div class="container pt-0 pt-1">
      <div class="mp-title-page-user">Mis Solicitudes</div>
      <div class="mp-shadow-user-view">
        <v-data-table
          :footer-props="footerOptions"
          class="pt-2 pb-2"
          :server-items-length="totalDocs"
          :items="requests"
          :headers="headers"
          @update:page="getMyRequests"
        >
          <template v-slot:[`item.order`]="{ item }">
            <span>
              {{ findIndexOnStores(item) }}
            </span>
          </template>
          <template v-slot:[`item.createdAt`]="{ item }">
            <span>
              {{
                item.createdAt ? item.createdAt.toString().substring(0, 10) : "Sin fecha"
              }}
            </span>
          </template>
          <template v-slot:[`item.type`]="{ item }">
            <span>
              {{ item.type ? capitalizeLetter(item.type) : "" }}
            </span>
          </template>
          <template v-slot:[`item.reason`]="{ item }">
            <div v-if="item.status == 'Rechazado'" class="pre-wrap message-status">
              {{ item.reason }}
            </div>
          </template>
          <template v-slot:[`item.status`]="{ item }">
            <span>
              <v-chip
                small
                dark
                :color="
                  item.status == 'Aceptado'
                    ? 'primary'
                    : item.status == 'Pendiente'
                    ? 'secondary'
                    : 'red'
                "
              >
                {{ item.status }}
              </v-chip>
            </span>
          </template>
        </v-data-table>
      </div>
      <LoaderPage :active="loading" :zIndex="40" />
      <!--<div class="text-center mt-2 mb-1">
            <v-pagination class="elevation-0" @click="updateCurrentPage" :disabled="loading" v-model="page" :length="5" :total-visible="totalVisible"></v-pagination>
            <span class="details-pagination">Pag {{page}} de {{totalPages}} - Total {{totalDocs}}</span>
        </div>-->
      <!--<Pagination :visible="4" :totalPages="totalPages" v-on:updateCurrentPage="getMyRequests" :currentPage="page" :disabled="loading" :totalDocs="totalDocs" />-->
    </div>
  </div>
</template>

<script>
import Pagination from "@/components/globals/Pagination";
import LoaderPage from "@/components/globals/loaders/LoaderPage";
import { mapState } from "vuex";
export default {
  middleware: "user",
  components: {
    Pagination,
    LoaderPage,
  },
  data() {
    return {
      footerOptions: {
        "items-per-page-options": [10],
      },
      totalDocs: 0,
      loading: false,
      page: 1,
      totalPages: 1,
      totalVisible: 6,
      limit: 10,
      requests: [],
      activeLoader: false,
      headers: [
        {
          text: "#",
          value: "order",
          sortable: false,
        },
        {
          text: "Fecha de envío",
          value: "createdAt",
          sortable: false,
        },
        {
          text: "Tipo de Solicitud",
          value: "type",
          sortable: false,
        },
        {
          text: "Comentario",
          value: "reason",
          sortable: false,
        },
        {
          text: "Estado",
          value: "status",
          sortable: false,
        },
      ],
    };
  },
  computed: {
    ...mapState({
      businessSKU: (state) =>
        state.auth.user && state.auth.user.store
          ? state.auth.user.store.sku
          : "emprendimiento-sin-sku",
    }),
  },
  async beforeMount() {
    await this.getMyRequests();
  },
  mounted() {
    try {
      this.$ga.event({
        eventCategory: `Solicitudes`,
        eventAction: "ver",
        eventLabel: this.businessSKU,
        eventValue: 1,
      });
    } catch (err) {}
  },
  methods: {
    capitalizeLetter(string) {
      return string.charAt(0).toUpperCase() + string.slice(1);
    },
    findIndexOnStores(item) {
      const idx = this.requests.indexOf(item);
      if (idx === -1) return "";
      const initiator = (this.page - 1) * this.limit;

      return initiator + (1 + idx);
    },
    async getMyRequests(pagine) {
      this.loading = true;
      const res = await this.$axios.$get(
        `/api/requests/stores/user?page=${pagine ? pagine : this.page}&limit=${
          this.limit
        }`
      );
      if (!res) return;
      this.requests = res.docs;
      this.totalDocs = res.totalDocs;
      pagine ? (this.page = pagine) : (this.page = 1);
      this.loading = false;
    },
    updateCurrentPage(ev) {},
  },
};
</script>

<style lang="scss" scoped>
.mp-page-requests {
  .v-data-footer .v-data-footer__select {
    display: none !important;
  }
  .message-status {
    font-size: 13px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);
  }
}
</style>
