.bg-primary {
    background: #112240 !important;
}

.bg-secondary {
    background: #940533 !important;
}

button.bg-secondary:hover,
button.bg-secondary:active {
    background: #940533 !important;
}

.bg-tertiary {
    background: #004f84 !important;
}