<template>
  <div class="mp-store-page">
    <main v-if="person" class="mp-wrapper-store">
      <div class="swiper-container mp-swiper-store">
        <div class="swiper-wrapper">
          <div v-for="img in person.images" :key="img._id" class="swiper-slide">
            <img
              class="img-fluid"
              :src="`${baseURL}/file/${img.filename}`"
              :alt="person && person.businessName ? `${person.businessName}` : ``"
            />
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
      <div class="container mp-container-store-page">
        <div :class="`mp-logo-store ${person.logo ? '' : 'no-logo'}`">
          <img
            v-if="person.logo"
            draggable="false"
            :src="`${baseURL}/file/${person.logo.filename}`"
            :alt="
              person && person.businessName
                ? `logo ${person.businessName}`
                : `logo default`
            "
          />
          <img v-else draggable="false" :src="defaultLogo" alt="logo-mercado-lima" />
        </div>
        <div
          v-if="
            person.contact &&
            (person.contact.whatsappNumber || person.contact.messengerUser)
          "
          class="mp-top-social-store"
        >
          <div class="mp-links">
            <div>
              <button
                v-if="person.contact.messengerUser"
                type="button"
                @click.stop="contactUser(person.sku, 'messenger', person.contact)"
              >
                <i class="fab fa-facebook-messenger"></i>
              </button>
              <button
                v-if="person.contact.whatsappNumber"
                type="button"
                @click.stop="contactUser(person.sku, 'whatsapp', person.contact)"
              >
                <i class="fab fa-whatsapp"></i>
              </button>
            </div>
            <!--<small class="fsize12"><strong>Contactar</strong></small>-->
          </div>
        </div>
        <BusinessCommentsCard
          :business="person"
          :isEntView="true"
          :socials="person && person.socialMedia ? person.socialMedia : null"
        >
          <template v-slot:bussiness-products>
            <div class="mt-4 mb-4 pb-4 pt-4">
              <h6 class="card-title mt-3">
                Productos de
                {{ person && person.businessName ? person.businessName : `` }}
              </h6>
              <hr />
              <v-data-iterator
                v-if="products"
                @update:options="updateOptions"
                :server-items-length="products.totalDocs"
                :page="products.page"
                :footer-props="footerOptions"
                :hide-default-footer="products && products.length == 0"
                :items="products.docs"
                :items-per-page="products.limit"
              >
                <template v-slot:default="props">
                  <div class="row">
                    <div
                      v-for="item in props.items"
                      :key="item._id"
                      class="col-xl-3 col-lg-4 col-md-4 col-sm-6"
                    >
                      <ProductCard :product="item" :person="person" :isUser="false" />
                    </div>
                  </div>
                </template>
              </v-data-iterator>
            </div>
          </template>
        </BusinessCommentsCard>
      </div>
    </main>
    <div v-else class="container">
      <small>Este emprendimiento no se encuentra disponible</small>
    </div>
    <LoaderPage :active="activeLoader" :zIndex="40" />
  </div>
</template>

<script>
import BusinessCommentsCard from "@/components/cards/BusinessCommentsCard";
import ProductCard from "@/components/cards/ProductCard";
import LoaderPage from "@/components/globals/loaders/LoaderPage";
import logoML from "@/static/logos/logo-color.png";
import seoEntrepeneur from "@/meta-tags/entrepeneur";
import { mapState } from "vuex";

const limit = 4;

export default {
  layout: "MarketPlace",
  components: {
    BusinessCommentsCard,
    ProductCard,
    LoaderPage,
  },
  head() {
    return seoEntrepeneur(this.person);
  },
  async asyncData({ route, $axios, store, params, query, redirect }) {
    try {
      const res = await $axios.get(`/api/persons/entrepreneurs/${params.store}`);
      if (res.status != 200)
        return {
          person: null,
          products: null,
        };
      const resProducts = await $axios.get(
        `/api/products/entrepreneurs/${params.store}?page=${
          query.page || 1
        }&limit=${limit}`
      );
      return {
        person: res.data,
        products: resProducts.data ? resProducts.data : null,
      };
    } catch (err) {
      return {
        person: null,
        products: null,
      };
    }
  },
  data() {
    return {
      footerOptions: {
        "items-per-page-options": [4, 8, 12],
      },
      activeLoader: false,
      defaultLogo: logoML,
    };
  },
  computed: {
    ...mapState({
      baseURL: (state) => state.baseData.baseURL,
    }),
  },
  async mounted() {
    try {
      this.$ga.page({
        page: `/${this.person.sku || this.$route.params.store}`,
        title:
          "Emprendimiento " + this.person && this.person.businessName
            ? this.person.businessName
            : ``,
        location: window.location.href,
      });
      new this.$Swiper(".swiper-container.mp-swiper-store", {
        loop: false,
        effect: "fade",
        fadeEffect: {
          crossFade: true,
        },
        spaceBetween: 15,
        slidesPerView: 1,
        autoplay: {
          delay: 4000,
        },
        navigation: {
          nextEl: ".mp-swiper-store .swiper-button-next",
          prevEl: ".mp-swiper-store .swiper-button-prev",
        },
      });
      if (!this.person) return;
      await this.$axios.post("/api/indicators/stores", {
        store: this.person._id,
      });
    } catch (err) {}
  },
  methods: {
    async contactUser(sku, type, contact) {
      try {
        let url = "";
        if (type === "messenger") {
          url = contact.messengerUrl;
        } else if (type === "whatsapp") {
          url = `https://api.whatsapp.com/send?phone=${contact.whatsappNumber}&text=¡Hola!%20Vi%20tu%20tienda%20en%20Mercado%20Artesanal.%20Estoy%20interesado%20en%20conocer%20más%20sobre%20tus%20productos.`;
        }
        window.open(url);
        this.$ga.event({
          eventCategory: "Emprendimiento",
          eventAction: "contactar",
          eventLabel: "Emprendimiento " + this.$route.params.store + " " + type,
          eventValue: 1,
        });
        if (type == "messenger") {
          await this.$axios.post("/api/indicators/contact/messenger", {
            store: this.person._id,
          });
        } else {
          await this.$axios.post("/api/indicators/contact/whatsapp", {
            store: this.person._id,
          });
        }
      } catch (err) {}
    },
    async updateOptions(opt) {
      this.activeLoader = true;
      const data = await this.getProductsPerPage(opt.page, opt.itemsPerPage);
      this.activeLoader = false;
      if (!data) return;
      this.products = data;
    },
    async getProductsPerPage(page, limit) {
      const res = await this.$axios.get(
        `/api/products/entrepreneurs/${this.$route.params.store}?page=${page}&limit=${
          limit ? limit : this.products.limit
        }`
      );
      if (res.status != 200) return null;
      this.$router.push(`/${this.$route.params.store}?page=${page || 1}`);
      return res.data;
    },
  },
};
</script>

<style lang="scss" scoped>
$heigh-slide-lg: 400px;

.mp-store-page {
  background: rgb(254, 254, 254);

  h6.card-title {
    color: #333333;
  }

  .mp-wrapper-store {
    .mp-swiper-store {
      background: #eee;
      height: $heigh-slide-lg;
      max-height: $heigh-slide-lg;
      overflow: hidden;
      width: 100%;

      &:hover {
        .swiper-button-next,
        .swiper-button-prev {
          visibility: visible;
        }
      }

      .swiper-button-next,
      .swiper-button-prev {
        visibility: hidden;
        width: 40px !important;
        height: 40px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        border-radius: 50%;
        background: $color-primary-transparent;
        outline: none;
        transition: all ease-in-out 0.2s;

        &::after {
          font-size: 15px !important;
          color: #fff;
        }
      }

      .swiper-slide {
        width: 100%;
        height: 100%;
        max-height: 100%;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        img {
          max-height: 100%;
          max-width: 100%;
          margin-bottom: 65px;
        }
      }
    }

    .mp-overlay-header-store {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 40%;
      background: linear-gradient(
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.26),
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 1)
      );
    }

    .mp-container-store-page {
      margin-top: -55px;
      margin-bottom: 55px;
      background: #fff;
      position: relative;
      min-height: 50vh;
      z-index: 15;
      border-radius: 5px 5px 0 0;
      box-shadow: -1px 4px 74px -16px rgba(0, 0, 0, 0.3);

      .mp-logo-store {
        position: absolute;
        bottom: 100%;
        margin-bottom: 1em;

        //height: 80px;
        img {
          max-height: 80px;
          border-radius: 4px;
        }
      }
      .mp-logo-store.no-logo {
        padding: 1em 0;
        background: #fff;
      }
      .mp-top-social-store {
        position: absolute;
        bottom: 100%;
        right: 0;
        padding: 1em 0.8em 1em 0;
        width: 150px;
        height: 80px;
        display: flex;
        .mp-links {
          background: #fff;
          width: 100%;
          border-radius: 25px;
          height: 100%;
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;

          button {
            margin: 0 5px;
            outline: none;
            i {
              font-size: 24px;
              color: $color-blue;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1264px) {
  .mp-store-page {
    .mp-wrapper-store {
      .mp-swiper-store {
        .swiper-slide {
          img {
            max-width: 1185px;
            width: 100%;
            //height: 100%;
            //max-height: auto;
            object-fit: cover;
          }
        }
      }
    }
  }
}

@media (min-width: 1904px) {
  .mp-store-page {
    .mp-wrapper-store {
      .mp-swiper-store {
        height: 500px;

        .swiper-slide {
          img {
            max-width: 1785px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .mp-store-page {
    .mp-wrapper-store {
      .mp-swiper-store {
        height: 360px;

        .swiper-slide {
          img {
            width: 100%;
            height: 100%;
            max-height: auto;
            object-fit: cover;
            margin-bottom: 0px;
          }
        }
      }

      .mp-container-store-page {
        .mp-logo-store {
          position: absolute;
          bottom: 100%;
          padding: 1em 0;

          //height: 80px;
          img {
            max-height: 65px;
            border-radius: 4px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .mp-store-page {
    .mp-wrapper-store {
      .mp-swiper-store {
        height: 320px;

        .swiper-slide {
          img {
            width: 100%;
            height: 100%;
            max-height: auto;
            object-fit: cover;
            margin-bottom: 10px;
          }
        }

        .swiper-button-next,
        .swiper-button-prev {
          bottom: calc(50% + 70px) !important;
        }
      }

      .mp-container-store-page {
        margin-top: -10px;
        margin-bottom: 15px;

        .mp-logo-store {
          position: absolute;
          bottom: 100%;
          padding: 1em 0;

          //height: 80px;
          img {
            max-height: 60px;
            border-radius: 4px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .mp-store-page {
    .mp-wrapper-store {
      .mp-swiper-store {
        height: 280px;
      }

      .mp-container-store-page {
        .mp-logo-store {
          padding: 0.5em;

          img {
            max-height: 55px;
            border-radius: 4px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .mp-store-page {
    .mp-wrapper-store {
      .mp-swiper-store {
        height: 250px;
      }

      .mp-container-store-page {
        .mp-logo-store {
          padding: 0.5em;

          img {
            max-height: 50px;
            border-radius: 4px;
          }
        }
      }
    }
  }
}
</style>
