<template>
    <div class="mp-loader-component">
        <v-progress-circular
            indeterminate
            color="amber"
        ></v-progress-circular>
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style lang="scss" scoped>
.mp-loader-component{
    width: 100%;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>