<template>
  <v-app class="main-app">
    <Header />
    <v-main>
      <nuxt />
    </v-main>
    <Footer />
    <ModalAnounces
      v-if="anounces && anounces.length > 0"
      :dialog="modalAnounces"
      :anounces="anounces"
      :baseURL="baseURL"
    />
  </v-app>
</template>

<script>
import Header from "@/components/globals/Header";
import Footer from "@/components/globals/Footer";
import ModalAnounces from "@/components/modals/ModalAnounces";

import { mapState } from "vuex";

export default {
  components: {
    Header,
    Footer,
    ModalAnounces,
  },
  computed: {
    ...mapState({
      baseURL: (state) => state.baseData.baseURL,
      modalAnounces: (state) => state.baseData.modalAnounces,
      anounces: (state) => state.baseData.anounces,
    }),
  },
  data() {
    return {
      interval: null,
    };
  },
  async mounted() {
    await this.$store.dispatch("baseData/getDepartments");
    await this.$store.dispatch("baseData/getMetrics");
    await this.$store.dispatch("baseData/getPaymentMethods");
    // await this.$store.dispatch("baseData/getConglomerates");
    // await this.$store.dispatch("baseData/getCampaigns");
    // await this.$store.dispatch("baseData/getCampaignsForEntrepreneurs");
    // await this.$store.dispatch("baseData/getAnounces");
    // await this.$store.dispatch("baseData/openModalAnounces");
    this.verifyTokenFromLS();
  },
  methods: {
    verifyTokenFromLS() {
      this.interval = setInterval(async () => {
        const dateExp = localStorage.getItem("iat") || window.localStorage.getItem("iat");

        if (!dateExp || dateExp == "false") {
          clearInterval(this.interval);
          return;
        }

        const timeToExp = dateExp - new Date().getTime();
        if (timeToExp > 0 && timeToExp < 40000) {
          clearInterval(this.interval);
          await this.$store.dispatch("baseData/refreshToken");

          this.$ga.time({
            timingCategory: "Tiempos de Sesiones",
            timingVar: "tiempo-sesion",
            timingValue: 60000 * 30, //30 minutos
            timingLabel:
              this.$store.state.auth.user.person &&
              this.$store.state.auth.user.person.store
                ? this.$store.state.auth.user.person.store.sku
                : `${this.$store.state.auth.user.person.firstName} ${this.$store.state.auth.user.person.lastName}`,
          });
          this.verifyTokenFromLS();
        }
      }, 5000);
    },
  },
};
</script>

<style lang="scss" scoped></style>
