<template>
  <div>
    <CoverPage :reel="reel" />
    <!-- <PrincipalCategories /> -->
    <!-- <CategoriesSection
      v-if="featuredProductsCampaign && featuredProductsCampaign.length > 0"
      :mostCategories="featuredProductsCampaign"
    /> -->
    <!-- <SlideLoader v-else swiperId="swiper-loader-1" /> -->
    <CategoriesSection
      v-if="mostCategories && mostCategories.length > 0"
      :mostCategories="mostCategories"
    />
    <!-- <SlideLoader v-else swiperId="swiper-loader-1" /> -->
    <!-- <CounterSection
      v-if="counters && counters.length > 0"
      :scroll="scroll"
      :indicators="counters"
    /> -->
    <VenturesSection
      v-if="mostBusiness && mostBusiness.length > 0"
      :key="baseIndex + 6"
      :mostBusiness="mostBusiness"
    />
    <!-- <SlideLoader v-else swiperId="swiper-loader-1" /> -->
  </div>
</template>

<script>
import CoverPage from "@/components/sections/CoverPage";
import SearchSection from "@/components/sections/SearchSection";
import CategoriesSection from "@/components/sections/CategoriesSection";
import PrincipalCategories from "@/components/sections/PrincipalCategories";
import VenturesSection from "@/components/sections/VenturesSection";
import CounterSection from "@/components/sections/CounterSection";
import SlideLoader from "@/components/slides/SlideLoader";
import seoIndex from "@/meta-tags/index";

export default {
  layout: "MarketPlace",
  components: {
    CoverPage,
    SearchSection,
    PrincipalCategories,
    CategoriesSection,
    CounterSection,
    VenturesSection,
    SlideLoader,
  },
  head() {
    return seoIndex();
  },
  async asyncData({ $axios, store, params }) {
    try {
      const reels =
        store.state.baseData.slides.length === 0
          ? await $axios.$get("/api/reels/active")
          : store.state.baseData.slides;
      store.commit("baseData/setSlides", reels);
      return {
        reel: reels || [],
      };
    } catch (err) {}
  },
  data() {
    return {
      scroll: 0,
      reel: [],
      //
      mostCategories: [],
      mostBusiness: [],
      counters: [],
      featuredProductsCampaign: [],
      baseIndex: 54563120,
    };
  },
  async mounted() {
    try {
      document.querySelector(".mp-search-section").style.visibility = "hidden";
      document.querySelector(".mp-rest-categories").style.visibility = "hidden";
      /* this.$ga.page({
        page: `/`,
        title: `Inicio`,
        location: window.location.href,
      });
      window.onscroll = this.handleScroll; */
      await this.getBaseMenuOnMounted();
    } catch (err) {}
  },
  beforeDestroy() {
    document.querySelector(".mp-search-section").style.visibility = "visible";
    document.querySelector(".mp-rest-categories").style.visibility = "visible";
  },
  methods: {
    async getBaseMenuOnMounted() {
      // most categories
      const mostCategories =
        this.$store.state.baseData.mostCategories.length === 0
          ? await this.$axios.$get("/api/featured_categories")
          : this.$store.state.baseData.mostCategories;
      this.$store.commit("baseData/setMostCategories", mostCategories);
      this.mostCategories = mostCategories;
      // most business
      const mostBusiness =
        this.$store.state.baseData.mostBusiness.length === 0
          ? await this.$axios.$get("/api/featured_entrepreneur")
          : this.$store.state.baseData.mostBusiness;
      this.$store.commit("baseData/setMostBusiness", mostBusiness);
      this.mostBusiness = mostBusiness;

      // featured campaigns
      const featuredProductsCampaign =
        this.$store.state.baseData.featuredProductsCampaign.length === 0
          ? await this.$axios.$get("/api/campaigns/featured_products")
          : this.$store.state.baseData.featuredProductsCampaign;
      this.$store.commit("baseData/setFeaturedProductCampaing", featuredProductsCampaign);
      this.featuredProductsCampaign = featuredProductsCampaign;

      // counters
      const countProducts =
        this.$store.state.baseData.countProducts === 0
          ? await this.$axios.$get("/api/indicators/products/all")
          : this.$store.state.baseData.countProducts;
      this.$store.commit("baseData/setCountProducts", countProducts);
      const countStores =
        this.$store.state.baseData.countStores === 0
          ? await this.$axios.$get("/api/indicators/stores/all")
          : this.$store.state.baseData.countStores;
      this.$store.commit("baseData/setCountStores", countStores);
      this.counters = [countProducts, countStores] || [3500, 1200];
      //
      this.baseIndex += 20;
    },
    handleScroll() {
      const scrll = document.body.scrollTop || document.documentElement.scrollTop;
      this.scroll = scrll;
    },
  },
};
</script>

<style lang="scss"></style>
