<template>
<div class="text-center mt-2 mb-1">
    <v-pagination class="elevation-0" @change="updateCurrentPage" :disabled="disabled" v-model="page" :length="totalPages" :total-visible="visible"></v-pagination>
    <span class="details-pagination">Pag {{currentPage}} de {{totalPages}} - Total {{totalDocs}}</span>
</div>
</template>

<script>
export default {
    props: {
        visible: Number,
        totalPages: Number,
        currentPage: Number,
        disabled: Boolean,
        totalDocs: Number
    },
    data() {
        return {
            page: this.currentPage
        }
    },

    methods: {
        updateCurrentPage(ev) {

        }
    }

}
</script>

<style lang="scss" scoped>
.details-pagination {
    padding-top: 15px;
    font-family: 'Segoe UI', 'sans-serif' !important;
    font-size: .735rem !important;
}
</style>
