<template>
  <div class="mp-wrapper-emporium">
    <div v-if="emporium">
      <HeaderEmporium
        :title="conglomerate.name || ''"
        :img="
          conglomerate.image
            ? `${baseURL}/file/${conglomerate.image.filename}`
            : defaultIMG
        "
      />
      <TabsEmporium :emporiumNav="emporiumNav" />
      <hr />
      <div class="container">
        <NuxtChild :conglomerate="conglomerate" />
      </div>
    </div>
    <div v-else>No se encontró el emporio buscado</div>
  </div>
</template>

<script>
import HeaderEmporium from "@/components/sections/HeaderCategory";
import TabsEmporium from "@/components/tabs/TabsEmporium";
import { mapState } from "vuex";
export default {
  layout: "MarketPlace",
  components: {
    HeaderEmporium,
    TabsEmporium,
  },
  async asyncData({
    route,
    store,
    $axios,
    env,
    params,
    query,
    req,
    res,
    redirect,
    error,
  }) {
    try {
      const res = await $axios.get(`/api/emporius/${params.skuConglomerate}`);
      if (res.status != 200) redirect("/");
      return {
        conglomerate: res.data,
      };
    } catch (error) {
      redirect("/");
    }
  },
  data() {
    return {
      emporiumNav: [
        { name: "Inicio", sku: "" },
        { name: "Productos", sku: "productos" },
        { name: "Emprendimientos", sku: "emprendimientos" },
      ],
      emporium: {},
      defaultIMG:
        "https://delilacblog.files.wordpress.com/2017/02/galerc3ada-estilo-gamarra-perc3ba-conter-jeans.jpg",
    };
  },
  computed: {
    ...mapState({
      baseURL: (state) => state.baseData.baseURL,
    }),
  },
};
</script>

<style lang="scss" scoped>
.mp-wrapper-emporium {
  height: auto;
  padding: 0 0 5em;

  .mp-categories-title {
    font-size: 18px;
    margin-bottom: 15px;
    color: $color-black !important;
  }

  a {
    text-decoration: none !important;
  }

  .v-tab {
    padding: 0 !important;
    margin: 0 16px;
  }
}
</style>
