<template>
  <div class="mp-conglomerates-page">
    <div class="container">
      <div class="mp-title-container-conglomerates">
        <h1 class="mp-title-slides-conglomerates">Conglomerados</h1>
      </div>
      <div class="row">
        <div
          class="col-lg-4 col-md-4 col-sm-6"
          v-for="item in conglomerates"
          :key="item._id"
        >
          <CardConglomerate
            :name="item.name"
            :img="item.image ? `${baseURL}/file/${item.image.filename}` : null"
            :href="item.sku ? `/conglomerados/${item.sku}` : ''"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CardConglomerate from "@/components/cards/CardConglomerate";
import { mapState } from "vuex";

export default {
  layout: "MarketPlace",
  components: {
    CardConglomerate,
  },
  async asyncData({
    route,
    store,
    $axios,
    env,
    params,
    query,
    req,
    res,
    redirect,
    error,
  }) {
    try {
      const conglomerates = await store.dispatch("baseData/getConglomerates");
      return {
        conglomerates: conglomerates,
      };
    } catch (error) {
      redirect("/");
    }
  },
  computed: {
    ...mapState({
      baseURL: (state) => state.baseData.baseURL,
    }),
  },
};
</script>

<style lang="scss" scoped>
.mp-conglomerates-page {
  .mp-title-container-conglomerates {
    padding: 1em 0;

    .mp-title-slides-conglomerates {
      position: relative;
      color: $color-blue;
      padding-left: 15px;
      margin-bottom: 0;
      font-size: 25px;

      @media screen and (max-width: 500px) {
        & {
          font-size: 20px;
        }
      }

      //margin-left: .5em;
      &::before {
        content: " ";
        height: 100%;
        width: 4px;
        background: #1a4a84;
        display: block;
        position: absolute;
        left: 0;
      }
    }
  }
}
</style>
