<template>
  <div>
      <div class="container">
          <div v-if="campaign.groupFeaturedProducts && campaign.groupFeaturedProducts.length > 0">
            <div  
                v-for="(item, idx) in campaign.groupFeaturedProducts"
                :key="item._id + idx"
                >
                <div
                class="mp-promotion-slides-container"
                v-if="item.products && item.products.length > 0"
                >
                    <div class="mp-title-container-promotion">
                        <h2 class="mp-title-slides-promotion">{{ item.title }}</h2>
                    </div>
                    <div>
                        <ProductSlide
                        :items="item.products"
                        :productSlideId="`mp-featured-products-${item._id}`"
                        />
                        <div class="mp-view-more-promotion">
                        <nuxt-link
                            class="mp-view-more-link"
                            :to="`/promociones/${campaign.sku}/productos`"
                        >
                            Ver más
                            <i class="fas fa-angle-right ml-2"></i>
                        </nuxt-link>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          
      </div>
      <LoaderPage :active="activeLoader" :zIndex="40" />
  </div>
</template>

<script>
import LoaderPage from "@/components/globals/loaders/LoaderPage";
import ProductSlide from "@/components/slides/ProductSlide";

export default {
    layout: "MarketPlace",
    components: { 
        LoaderPage,
        ProductSlide,
    },
    props: {
      campaign: Object,
    },
    data() {
        return {
            defaultIMG:
                "https://delilacblog.files.wordpress.com/2017/02/galerc3ada-estilo-gamarra-perc3ba-conter-jeans.jpg",
            activeLoader: false,
        }
    }

}
</script>

<style lang="scss" scoped>
.mp-wrapper-emporium {
  height: auto;
  padding: 0 0 5em;
  width: 100%;
    .mp-promotion-slides-container {
    padding: 1rem 0 3rem 0;

    .mp-description-promotion {
      font-size: 14px;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.7);
      @media screen and (min-width: 1750px) {
        font-size: 16px;
      }
      @media screen and (max-width: 450px) {
        font-size: 13px;
      }
    }

    .mp-title-container-promotion {
      padding: 1em 0;

      .mp-title-slides-promotion {
        position: relative;
        color: $color-blue;
        padding-left: 15px;
        margin-bottom: 0;
        font-size: 25px;

        @media screen and (max-width: 500px) {
          & {
            font-size: 20px;
          }
        }

        //margin-left: .5em;
        &::before {
          content: " ";
          height: 100%;
          width: 4px;
          background: #1a4a84;
          display: block;
          position: absolute;
          left: 0;
        }
      }
    }

    .mp-view-more-promotion {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      padding: 0 1em;

      .mp-view-more-link {
        font-size: 13px;
        font-weight: 500;
        text-decoration: none;
        color: $color-blue;
        transition: all ease-in-out 0.2s;
        text-transform: uppercase;

        &:hover {
          color: $color-secondary;
        }
      }
    }
  }
}
</style>
